html.light body{
  --bg: #ffffff;
  --text: #111111;
  --card: rgba(0,0,0,0.05);
  --link: #005fcc;
  --link-hover: #0047a3;
}

html.dark body{
  --bg: #0e0e0e;
  --text: #f5f5f5;
  --card: rgba(255,255,255,0.08);
  --link: #7dd3fc;
  --link-hover: #bae6fd;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  background: var(--bg);
  color: var(--text);
}

header {
  width: 100%;
  background: var(--card);
  display: flex;
  align-items: center;
  padding-right: 24px;
}

p.header-title{
  padding-left: 12px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.langBtn {
  padding-right: 24px;
}

#hamburger {
  display: none;
}

#lang-menu {
  display: none;
}

.card {
  background: var(--card);
  border-radius: 12px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}
