html.light body{
  --bg: #ffffff;
  --text: #111111;
  --card: rgba(0,0,0,0.05);
  --link: #005fcc;
  --link-hover: #0047a3;
}

html.dark body{
  --bg: #0e0e0e;
  --text: #f5f5f5;
  --card: rgba(255,255,255,0.08);
  --link: #7dd3fc;
  --link-hover: #bae6fd;
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
    background: var(--card)
}

.card {
  background: var(--card);
  border-radius: 12px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}
